<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie ogłoszenia</title>
    <link rel="stylesheet" href="/styles/add-ad.css">
</head>
<!-- Header -->
<div layout:fragment="right-header">
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
    <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    <a href="#" th:href="@{/my-account}">Moje konto</a>
</div>
<body>
    <div layout:fragment="content">
        <form th:action="@{/my-account/add-ad}" method="post" class="add-form" enctype="multipart/form-data" th:object="${ad}">
            <div class="left-side">
                <div class="left-frame">
                    <h1>Dane dotyczące pojazdu</h1>
                    <div class="element">
                        <div>
                            <label for="brand">Marka pojazdu:</label>
                        </div>
                        <div>
                            <select id="brand" name="brand" class="parameter-to-choose" th:field="*{vehicleBrand}">
                                <option th:each="brand : ${brands}" th:value="${brand.getName()}" th:text="${brand.getName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="model">Model pojazdu:</label>
                        </div>
                        <div>
                            <select id="model" name="model" class="parameter-to-choose" th:field="*{vehicleModel}">
                                <option value="testModel">testModel</option>
                                <!-- Opcje modelu -->
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="body">Typ nadwozia:</label>
                        </div>
                        <div>
                            <select id="body" name="body" class="parameter-to-choose" th:field="*{bodyType}">
                                <option value="coupe">coupe</option>
                                <!-- Opcje nadwozia -->
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="fuel">Rodzaj paliwa:</label>
                        </div>
                        <div>
                            <select id="fuel" name="fuel" class="parameter-to-choose" th:field="*{fuelType}">
                                <option value="benzyna">Benzyna</option>
                                <!-- Opcje paliwa -->
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="transmission">Skrzynia biegów:</label>
                        </div>
                        <div>
                            <select id="transmission" name="transmission" class="parameter-to-choose" th:field="*{gear}">
                                <option value="automatyczna">automatyczna</option>
                                <!-- Opcje skrzyni biegów -->
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="seller">Rodzaj sprzedawcy:</label>
                        </div>
                        <div>
                            <select id="seller" name="seller" class="parameter-to-choose" th:field="*{seller}">
                                <option value="Osoba prywatna">Osoba prywatna</option>
                                <!-- Opcje sprzedawców -->
                            </select>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="location">Lokalizacja</label>
                        </div>
                        <div>
                            <input type="text" id="location" name="location" class="parameter-to-choose" th:field="*{location}">
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="engine">Pojemność skokowa:</label>
                        </div>
                        <div>
                            <input type="number" id="engine" name="engine" class="parameter-to-choose" th:field="*{engineSize}">
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="power">Moc:</label>
                        </div>
                        <div>
                            <input type="number" id="power" name="power" class="parameter-to-choose" th:field="*{power}">
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="mileage">Przebieg</label>
                        </div>
                        <div>
                            <input type="number" id="mileage" name="mileage" class="parameter-to-choose" th:field="*{mileage}"/>
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="year">Rok produkcji:</label>
                        </div>
                        <div>
                            <input type="number" id="year" name="year" class="parameter-to-choose" th:field="*{yearOfProduction}">
                        </div>
                    </div>
                    <div class="element">
                        <div>
                            <label for="price">Cena</label>
                        </div>
                        <div>
                            <input type="number" id="price" name="price" class="parameter-to-choose"  th:field="*{price}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="right-header-photo">
                    <h1> Wstaw zdjęcie</h1>
                </div>
                <div class="right-frame">
                    <div>
                        <input type="file" id="picture" th:field="*{picture}" accept="image/png, image/jpeg">
                    </div>
                </div>
                <div class="add-button">
                    <button class = "add-ad-button" type="submit">Dodaj ogłoszenie</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>