<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}">></title>
    <link rel="stylesheet" href="/styles/advert.css">
</head>
<body>

<div layout:fragment="content">
    <div class="white-space">
    </div>
    <!-- Left Side of Page -->
    <div class="left">
        <!-- Main Photo And Smaller Photos -->
        <div class="photos">
            <img class="main-image"
                 th:src="${ad.picture != null} ? '/img/' + ${ad.picture} : '/img/picture-placeholder.png'"/>
        </div>
        <!-- Details -->
        <h1>Szczegóły</h1>
        <div class="details">
            <!-- Left column -->
            <table class="table-details">
                <tr>
                    <td>Marka</td> <td th:text="${ad.vehicleBrand}"></td>
                </tr>
                <tr>
                    <td>Model</td> <td th:text="${ad.vehicleModel}"></td>
                </tr>
                <tr>
                    <td>Moc</td> <td th:text="${ad.power}"></td>
                </tr>
                <tr>
                    <td>Lokalizacja</td> <td th:text="${ad.location}"></td>
                </tr>
            </table>
            <!-- Right column -->
            <table class="table-details">
                <tr>
                    <td>Pojemność skokowa</td> <td th:text="${ad.engineSize}"></td>
                </tr>
                <tr>
                    <td>Rodzaj paliwa</td> <td th:text="${ad.fuelType}"></td>
                </tr>
                <tr>
                    <td>Przebieg</td> <td th:text="${ad.mileage}"></td>
                </tr>
                <tr>
                    <td>Skrzynia biegów</td> <td th:text="${ad.gear}"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Right Side of Page -->
    <div class="right">
        <div class="base-informations">
            <h1 th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}"></h1>
            <div th:text="${ad.yearOfProduction + ' · ' + ad.mileage + ' km · ' + ad.engineSize + ' cm³ · ' + ad.fuelType}"></div>
            <div class="price" th:text="${ad.price} + ' PLN'"></div>
            <div>Faktura VAT</div>
        </div>
    </div>
</div>
</body>
</html>