<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Toyota Supra</title>
    <link rel="stylesheet" href="/styles/advertv2.css">
</head>
<body>
<div class="header">
    <img src="/jpg/logo.png" alt="CarZone Logo" class="logo">
</div>
<div class="container">
    <div class="white-space">
    </div>
    <div class="left">
        <div class="photos">
            <img class="main-image" src="/jpg/img.png">
        </div>
        <div class="details">
            <p>a</p>
            <p>b</p>
            <p>c</p>
        </div>
    </div>
    <div class="right">
        <div class="base-informations">
            <h1>Toyota Supra 2.0 Turbo Dynamic</h1>
            <div>2023 · 1 km · 1998 cm³ · Benzyna</div>
            <div class="price">235 900 PLN</div>
            <div>Faktura VAT</div>
        </div>
    </div>
</div>
</body>
</html>