<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota Supra</title>
    <link rel="stylesheet" href="/styles/advert.css">
</head>
<body>
<div class="header">
    <img src="/jpg/logo.png" alt="CarZone Logo" class="logo"> <!-- Dodane logo -->
</div>
<div class="container">
    <img class="main-image" src="/jpg/img.png" alt="Toyota Supra 2.0 Turbo Dynamic">
    <div class="details">
        <h1>Toyota Supra 2.0 Turbo Dynamic</h1>
        <div>2023 · 1 km · 1998 cm³ · Benzyna</div>
        <div class="price">235 900 PLN</div>
        <div class="vat">Faktura VAT</div>
    </div>
</div>
</body>
</html>
