<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>CarZone</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<!-- Header -->
<div layout:fragment="right-header">
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
    <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    <a href="#" th:href="@{/my-account/add-ad}">Zacznij sprzedawać</a>
    <a href="#" th:href="@{/my-account}">Moje konto</a>
</div>
<!-- Search Bar -->
<div layout:fragment="content">
    <form class="search-form">
        <div class="search-options">
            <div class="form-row">
                <select name="vehicleBrand" class="parameter-to-choose">
                    <option value="">Wybierz markę</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                </select>
                <select name="vehicleModel" class="parameter-to-choose">
                    <option value="">Wybierz model</option>
                    <option value="Model1">Model_1</option>
                    <option value="Model2">Model_2</option>
                    <option value="Model">Model_3</option>
                </select>
                <input name="price_from" type="text" class="parameter-to-choose" placeholder="Cena od">
                <input name="price_to" type="text" class="parameter-to-choose" placeholder="Cena do">
                <button type="submit" class="short-green-button"><i class="fas fa-search"></i> Szukaj</button>
            </div>
        </div>
    </form>

    <!-- Main Content -->
    <main class="main-content">
        <div th:each="ad : ${adsPage}" class="card">
            <!--  Single Card  -->
            <img class="car-image"
                 th:src="${ad.picture != null} ? '/img/' + ${ad.picture} : '/img/picture-placeholder.png'"/>
            <div class="car-details">
                <h1>
                    <a th:href="@{/ad/{id}(id=${ad.id})}" th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}"></a>
                </h1>
                <p th:text="${ad.engineSize + 'cm³ • ' + ad.power + ' KM'}"></p>
                <p th:text="${ad.mileage + ' km • ' + ad.fuelType + ' • ' + ad.gear + ' • ' + ad.yearOfProduction}"></p>
                <p th:text="${ad.location}"></p>
                <p>Rodzaj sprzedawcy: <span th:text="${ad.seller}"></span></p>
            </div>
            <div class="car-price">
                <p th:text="${ad.price + 'PLN'}"></p>
                <p>W granicach średniej</p>
                <button class = "long-green-button" onclick="location.href='link_do_finansowania'">Sprawdź możliwości finansowania</button>
            </div>
            <!--  end, Single Card  -->
        </div>
    </main>
    <!-- Pagination bar -->
    <div class="navigation">
        <ul class="pagination">
            <li th:if="${adsPage.hasPrevious()}" class="page-item">
                <a th:href="@{/(page=${adsPage.number - 1})}" class="page-link">&laquo;</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, adsPage.totalPages - 1)}" class="page-item"
                th:classappend="${pageNum == adsPage.number} ? 'active' : ''">
                <a th:href="@{/(page=${pageNum})}" th:text="${pageNum + 1}" class="page-link"></a>
            </li>
            <li th:if="${adsPage.hasNext()}" class="page-item">
                <a th:href="@{/(page=${adsPage.number + 1})}" class="page-link">&raquo;</a>
            </li>
        </ul>
    </div>


    <!-- Fotter -->

    <!--
     <footer class="footer">
         <p>MovieClub 2022 <i class="fas fa-copyright"></i> JavaStart.pl</p>
     </footer>
     -->
</div>
</body>
</html>