<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>CarZone</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<!-- Header -->
<div layout:fragment="right-header">
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
    <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    <a href="#" th:href="@{/my-account/add-ad}">Zacznij sprzedawać</a>
    <a href="#" th:href="@{/my-account}">Moje konto</a>
</div>
<!-- Search Bar -->
<div layout:fragment="content">
    <form class="search-form">
        <div class="search-options">
            <div class="form-row">
                <select name="vehicleBrand" class="parameter-to-choose">
                    <option value="">Wybierz markę</option>
                    <option th:each="brand : ${brands}" th:value="${brand.getName()}" th:text="${brand.getName()}"></option>
                </select>
                <select name="vehicleModel" class="parameter-to-choose">
                    <option value="">Wybierz model</option>
                    <option th:each="vehModel : ${models}" th:value="${vehModel.getName()}" th:text="${vehModel.getName()}"></option>
                </select>
                <select name="bodyType" class="parameter-to-choose">
                    <option value="">Wybierz nadwozie</option>
                    <option th:each="bodyCar : ${bodyTypes}" th:value="${bodyCar.getName()}" th:text="${bodyCar.getName()}"></option>
                </select>
                <input name="priceFrom" type="number" class="parameter-to-choose" placeholder="Cena od" min="0" th:value="${priceFrom}">
                <input name="priceTo" type="number" class="parameter-to-choose" placeholder="Cena do" min="1" th:value="${priceTo}">
            </div>
            <div class="form-row">
                <input name="powerFrom" type="number" class="parameter-to-choose" placeholder="Moc od" min="0" th:value="${powerFrom}">
                <input name="powerTo" type="number" class="parameter-to-choose" placeholder="Moc do" min="1" th:value="${powerTo}">
                <input name="mileageFrom" type="number" class="parameter-to-choose" placeholder="Przebieg od" min="0" th:value="${mileageFrom}">
                <input name="mileageTo" type="number" class="parameter-to-choose" placeholder="Przebieg do" min="1" th:value="${mileageTo}">
                <select name="fuel" class="parameter-to-choose">
                    <option value="">Rodzaj paliwa</option>
                    <option th:each="fuel : ${fuelTypes}" th:value="${fuel.getName()}" th:text="${fuel.getName()}"></option>
                </select>
            </div>
            <div class="form-row">
                <input name="engineSizeFrom" type="number" class="parameter-to-choose" placeholder="Pojemność od" min="0" th:value="${engineSizeFrom}">
                <input name="engineSizeTo" type="number" class="parameter-to-choose" placeholder="Pojemność do" min="1" th:value="${engineSizeTo}">
                <select name="gearBox" class="parameter-to-choose">
                    <option value="">Skrzynia biegów</option>
                    <option th:each="gearBox : ${gearBoxTypes}" th:value="${gearBox.getName()}" th:text="${gearBox.getName()}"></option>
                </select>
                <input type="text" name="location" class="parameter-to-choose" placeholder="Lokalizacja" th:value="${location}">
                <button type="submit" class="home-form-button"><i class="fas fa-search"></i> Szukaj</button>
            </div>
        </div>
    </form>

    <!-- Main Content -->
    <main class="main-content">
        <div th:each="ad : ${adsPage}" class="card">
            <!--  Single Card  -->
            <img class="car-image"
                 th:src="${ad.picture != null} ? '/img/' + ${ad.picture} : '/img/picture-placeholder.png'"/>
            <div class="car-details">
                <h1>
                    <a th:href="@{/ad/{id}(id=${ad.id})}" th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}"></a>
                </h1>
                <p th:text="${ad.engineSize + 'cm³ • ' + ad.power + ' KM'}"></p>
                <p th:text="${ad.mileage + ' km • ' + ad.fuelType + ' • ' + ad.gear + ' • ' + ad.yearOfProduction}"></p>
                <p th:text="${ad.location}"></p>
                <p>Rodzaj sprzedawcy: <span th:text="${ad.seller}"></span></p>
            </div>
            <div class="car-price">
                <div class="price-tag">
                    <span>CENA</span>
                </div>
                <div class="price-amount">
                    <p th:text="${ad.price + 'PLN'}"></p>
                </div>
            </div>
            <!--  end, Single Card  -->
        </div>
    </main>
    <!-- Pagination bar -->
    <div class="navigation">
        <ul class="pagination">
            <li th:if="${adsPage.hasPrevious()}" class="page-item">
                <a th:href="@{/(page=${adsPage.number - 1})}" class="page-link">&laquo;</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, adsPage.totalPages - 1)}" class="page-item"
                th:classappend="${pageNum == adsPage.number} ? 'active' : ''">
                <a th:href="@{/(page=${pageNum})}" th:text="${pageNum + 1}" class="page-link"></a>
            </li>
            <li th:if="${adsPage.hasNext()}" class="page-item">
                <a th:href="@{/(page=${adsPage.number + 1})}" class="page-link">&raquo;</a>
            </li>
        </ul>
    </div>


    <!-- Fotter -->

    <!--
     <footer class="footer">
         <p>MovieClub 2022 <i class="fas fa-copyright"></i> JavaStart.pl</p>
     </footer>
     -->
</div>
</body>
</html>