<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>CarZone</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>>
<!-- Search Bar -->
<div layout:fragment="content">
    <form class="search-form">
        <div class="search-options">
            <div class="form-row">
                <select name="vehicle_brand">
                    <option value="">Toyota</option>
                    <option value="">Mazda</option>
                    <option value="">BMW</option>
                </select>
                <select name="vehicle_model">
                    <option value="">Model_1</option>
                    <option value="">Model_2</option>
                    <option value="">Model_3</option>
                </select>
                <select name="generation">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <select name="body_type">
                    <option value="">Sedan</option>
                    <option value="">SUV</option>
                    <option value="">Kombi</option>
                </select>
                <input name="price_from" type="text" placeholder="Cena od">
                <input name="price_to" type="text" placeholder="Cena do">
            </div>

            <div class="form-row">
                <input name="year_of_production_from" type="text" placeholder="Rok produkcji od">
                <input name="year_of_production_to" type="text" placeholder="Rok produkcji do">
                <select name="fuel_type">
                    <option value="">Rodzaj paliwa</option>
                </select>
                <input name="mileage_from" type="text" placeholder="Przebieg od">
                <input name="mileage_to" type="text" placeholder="Przebieg do">
                <select name="location">
                    <option value="">Lokalizacja</option>
                </select>
            </div>

            <div class="form-row">
                <select name="vehicle_condition">
                    <option value="">Damaged</option>
                    <option value="">Undamaged</option>
                </select>
                <input type="text" placeholder="Wpisz model, wersję lub inne szczegóły" class="search-input">
                <label><input type="checkbox"> Możliwość finansowania</label>
                <select name="special_programs">
                    <option value="">Programy specjalne</option>
                </select>
                <button type="button" class="filters-button">Pokaż więcej filtrów</button>
                <button type="submit"><i class="fas fa-search"></i> Szukaj</button>
            </div>
        </div>
    </form>

    <!-- Main Content -->
    <main class="main-content">
        <div th:each="ad : ${list}" class="card">
            <!--  Single Card  -->
            <img class="car-image"
                 th:src="${ad.picture != null} ? '/img/' + ${ad.picture} : '/img/picture-placeholder.png'"/>
            <div class="car-details">
                <h1>
                    <a th:href="@{/ad/{id}(id=${ad.id})}" th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}"></a>
                </h1>
                <p th:text="${ad.engineSize + 'cm³ • ' + ad.power + ' KM'}"></p>
                <p th:text="${ad.mileage + ' km • ' + ad.fuelType + ' • ' + ad.gear + ' • ' + ad.yearOfProduction}"></p>
                <p th:text="${ad.location}"></p>
                <p>Rodzaj sprzedawcy: <span th:text="${ad.seller}"></span></p>
            </div>
            <div class="car-price">
                <p th:text="${ad.price + 'PLN'}"></p>
                <p>W granicach średniej</p>
                <button class = "finances-button" onclick="location.href='link_do_finansowania'">Sprawdź możliwości finansowania</button>
            </div>
            <!--  end, Single Card  -->
      </div>
  </main>
        <!-- Pagination bar -->
        <div class="navigation">
            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled">...</li>
                <li><a href="#">7126</a></li>
                <li><a href="#">&gt;</a></li>
            </ul>
        </div>

        <!-- Fotter -->

        <!--
         <footer class="footer">
             <p>MovieClub 2022 <i class="fas fa-copyright"></i> JavaStart.pl</p>
         </footer>
         -->
</div>
</body>
</html>