<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/my-account.css">
    <title>My account</title>
</head>
<body>
<div layout:fragment="right-header">
    <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
    <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    <a href="#" th:href="@{/my-account/add-ad}">Zacznij sprzedawać</a>
</div>
<!-- Main Content -->
<div layout:fragment="content">
    <div class="main-content">
        <h2 class="centered-title">Twoje ogłoszenia</h2>
        <div th:if="${ads.isEmpty()}">
            Nie masz jeszcze żadnych ogłoszeń. <a th:href="@{/my-account/add-ad}">Dodaj swoje pierwsze ogłoszenie!</a>
        </div>
        <div th:each="ad : ${ads}" class="card">
            <div>
                <!--  Single Card  -->
                <div>
                    <h1 th:text="${ad.vehicleBrand + ' ' + ad.vehicleModel}"></h1>
                </div>
                <div>
                    <div>
                        <img class="car-image"
                             th:src="${ad.picture != null} ? '/img/' + ${ad.picture} : '/img/picture-placeholder.png'"/>
                    </div>
                </div>
                    <button class="long-green-button" th:onclick="'location.href=\'/my-account/ad-remove/' + ${ad.id} + '\''">Usuń ogłoszenie</button>
                    <button class="long-green-button" th:onclick="'location.href=\'/ad/' + ${ad.id} + '\''">Podejrzyj ogłoszenie</button>
            </div>
                <!--  end, Single Card  -->
        </div>
    </div>
</div>
</body>
</html>