<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/styles/logging.css">
</head>
<body>
<div layout:fragment="content">
    <div class="logging-frame">
        <h2 class="list-heading">Zarejestruj się</h2>
        <form action="#" th:action="@{/registration}" method="post"  th:object="${user}">
            <div>
                <label for="email">Podaj adres email</label>
            </div>
            <div class = "element">
                <input id="email"  class="parameter-to-choose" type="email" placeholder="nazwa użytkownika" th:field="*{email}">
            </div>
            <div>
                <label for="password">Podaj hasło</label>
            </div>
            <div class = "element">
                <input id="password"  class="parameter-to-choose" placeholder="hasło" type="password" th:field="*{password}">
            </div>
            <div>
                <label for="phone-number">Podaj numer telefonu</label>
            </div>
            <div class = "element">
                <input id="phone-number"  class="parameter-to-choose" placeholder="numer telefonu" type="text" th:field="*{phoneNumber}">
            </div>
            <div class = "element">
                <button type="submit" class="short-green-button">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>