/* Main Content*/
.container{
    display: flex;
    padding: 10px;
}
/* Left,White-Space*/
.white-space{
    width: 10%;
}
/* Left */
.left{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.main-image {
    width: 80%;
    height: auto;

}
.photos{
    display: flex;
    background: #d3d3d3;
    justify-content: center;
    align-items: center;
}
.details {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.table-details{
    width: 45%;
}
/* Right */
.right{
    width: 30%;
    padding: 10px;
}
.base-informations {
    padding: 10px;
}
.base-informations-h{
    margin-bottom: 5px;
}
.price{
    font-weight: bold;
    color: #2ADD81;
}

/* Styl dla sekcji kontaktowej */
.contact-section {
    border: 2px solid #ddd;
    padding: 50px 20px 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    display: inline-block;

}

.contact-section h2 {
    margin: 0 0 10px 0;
}

.phone-number {
    margin-bottom: 10px;
    font-weight: bold;
    border: 2px solid #2ADD81;
    padding: 10px;
    text-align: center
}
.seller{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.location {
    display: flex;
    align-items: center;
    text-decoration: underline
}

.location .icon {
    margin-right: 5px;
}