/* Menu */
.search-form {
    display: flex;
    background: #ffffff;
    padding: 20px;
    justify-content: center; /* Wycentrowanie formularza */
}

.form-row {
    display: flex;
    justify-content: center; /* Wycentrowanie elementów form-row */
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

.form-row .search-input {
    flex-grow: 2; /* Większa elastyczność dla pola wyszukiwania */
    min-width: 240px; /* Minimalna szerokość dla pola wyszukiwania */
}


/* Main Content */
/* List of cars */
.main-content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
}

/* Card style */
.card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px auto;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Three elements of Card */
/* Image */
.car-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
/* Tech details */
.car-details {
    flex-grow: 1;
}
/* Finances fetails*/
.car-price {
    font-weight: bold;
    margin-left: auto;
}

.home-form-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #2ADD81;
    cursor: pointer;
    white-space: nowrap;
    min-width: 120px;
    flex: 1;
}

/* Pagination style */
.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background: #000;
    color: white;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0;
}

.pagination li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    background: transparent;
}

.pagination li.active a {
    border: 2px solid white;
    border-radius: 50%;
}

.pagination li a:hover {
    text-decoration: underline;
    background-color: #2ADD81;
}
.pagination li.disabled {
    color: grey;
}