/* Delete Default Settings */
body {
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 10px;
}
.right-header{
    display: flex;
    color: white;
    margin-right: 10px;
    gap: 20px;
}
.custom-links {
    display: flex;
    gap: 20px;
}
/* Menu */
.search-form {
    display: flex;
    /*gap: 10px;*/
    background: #ffffff;
    padding: 20px;
    justify-content: center; /* Wycentrowanie formularza */
}

.search-form select,
.search-form input[type="text"],
.search-form input[type="number"] {
    padding: 10px; /* Większy padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    min-width: 120px; /* Minimalna szerokość dla elementów */
    flex: 1; /* Elastyczność dla zachowania proporcji */
}


.search-form button {
    padding: 10px 20px; /* Większy padding dla większych przycisków */
    font-size: 16px; /* Większa czcionka dla tekstu w przyciskach */
    border: none;
    border-radius: 5px;
    color: white;
    background: #2ADD81;
    cursor: pointer; /* Dodanie wskaźnika kursora */
    white-space: nowrap;
    flex: 0 1 auto;
}

.search-form button:active {
    background: #20A761;
}


.form-row {
    display: flex;
    justify-content: center; /* Wycentrowanie elementów form-row */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.form-row .search-input {
    flex-grow: 2; /* Większa elastyczność dla pola wyszukiwania */
    min-width: 240px; /* Minimalna szerokość dla pola wyszukiwania */
}


/* Styles For Label with Checkboxem */
.form-row label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-row label input[type="checkbox"] {
    margin-right: 5px;
}


/* Main Content */
/* List of cars */
.main-content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
}

/* Links style */
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
/* Card style */
.card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px auto;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
/* Three elements of Card */
/* Image */
.car-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
/* Tech details */
.car-details {
    flex-grow: 1;
}
/* Finances fetails*/
.car-price {
    font-weight: bold;
    margin-left: auto;
}

.finances-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #2ADD81;
    cursor: pointer;
    white-space: nowrap;
    flex: 0 1 auto;
}


/* Pagination style */
.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background: #000;
    color: white;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0;
}

.pagination li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    background: transparent;
}

.pagination li.active a {
    border: 2px solid white;
    border-radius: 50%;
}

.pagination li a:hover {
    text-decoration: underline;
    background-color: #2ADD81;
}
.pagination li.disabled {
    color: grey;
}
